// Styling for the portfolio2 section
#portfolio2 {
  .portfolio2-item {
    right: 0;
    margin: 0 0 15px;
    .portfolio2-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      .portfolio2-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, 0.1);
        &:hover {
          opacity: 1;
        }
        .portfolio2-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: rgb(255, 255, 255);
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .portfolio2-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: rgb(220, 219, 219);
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
        font-size: 16px;
        font-style: italic;
        margin: 0;
        @include serif-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}
@media (min-width: 767px) {
  #portfolio2 {
    .portfolio2-item {
      margin: 0 0 30px;
    }
  }
}

.portfolio2-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: left;
    h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
      @include serif-font;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
    button {
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }
}
#portfolio2.page-section {
  background-color: #c2c3c6 !important; /* A dark slate blue */
}
/* Make code blocks in portfolio modals full-width */
.portfolio-modal pre {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  /* Optional: Remove rounded corners for a clean edge-to-edge look */
  border-radius: 0; 
}

/* VS Code Light+ Theme for Jekyll/Rouge */
.portfolio2-modal {

  /* 1. The Container (VS Code Light Editor Background) */
  .highlighter-rouge pre, 
  .highlighter-rouge .highlight {
    background-color: #ffffff;  /* Pure white background */
    color: #000000;             /* Default text color (black) */
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    border: 1px solid #e1e4e8;  /* Light grey border for separation */
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05); /* Optional subtle inner shadow */
  }

  /* 2. The Syntax Highlighting (VS Code Light Colors) */
  .highlighter-rouge {
    
    /* Comments - Green */
    .c, .cm, .c1, .cs { 
      color: #008000; 
      font-style: italic;
    }

    /* Keywords (int, void, const) - Blue */
    .k, .kd, .kp, .kr, .kt { 
      color: #0000ff; 
    }
    
    /* Control Flow (if, else, return) - Purple */
    .cf {
        color: #af00db; 
    }

    /* Functions (setup, loop, analogRead) - Olive/Gold */
    .nf, .fm { 
      color: #795e26; 
    }

    /* Strings ("Hello World") - Red/Brown */
    .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { 
      color: #a31515; 
    }

    /* Numbers (128, 0, 9600) - Dark Green */
    .m, .mb, .mf, .mh, .mi, .il, .mo { 
      color: #098658; 
    }

    /* Built-in / Macros / Preprocessor (#define, Serial) - Teal/Purple */
    .nb, .no, .nv {
        color: #267f99; /* Teal for classes/types like Serial */
    }
    .cp {
        color: #af00db; /* Purple for preprocessor like #include */
    }
    
    /* Operators (=, +, -) - Black */
    .o, .ow {
        color: #000000;
    }
  }
}