// Variables

// Restated Bootstrap Variables
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// --------------------------------------------------
// COLORS
// --------------------------------------------------

// By defining this here, we override the default yellow.
// Change #e67e22 to whatever hex color you want!
$primary: #796bf9; 

// You can also override other status colors if you wish:
$secondary: $gray-700;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: $gray-100;
$dark: $gray-800;